In [76]:
import pandas as pd
from random import randint

def generate_data(n_books = 3000, n_genres = 10, n_authors = 450, n_publishers = 50, n_readers = 30000, dataset_size = 100000):
    
    d = pd.DataFrame(
        {
            'book_id' : [randint(1, n_books) for _ in range(dataset_size)],
            'author_id' : [randint(1, n_authors) for _ in range(dataset_size)],
            'book_genre' : [randint(1, n_genres) for _ in range(dataset_size)],
            'reader_id' : [randint(1, n_readers) for _ in range(dataset_size)],
            'num_pages' : [randint(75, 700) for _ in range(dataset_size)],
            'book_rating' : [randint(1, 10) for _ in range(dataset_size)],
            'publisher_id' : [randint(1, n_publishers) for _ in range(dataset_size)],
            'publish_year' : [randint(2000, 2021) for _ in range(dataset_size)],
            'book_price' : [randint(1, 200) for _ in range(dataset_size)],
            'text_lang' : [randint(1,7) for _ in range(dataset_size)]
        }
    ).drop_duplicates()
    return d
  
df = generate_data(dataset_size = 100000)
df.to_csv('data.csv', index = False)

In [77]:
df.head()

,book_id,author_id,book_genre,reader_id,num_pages,book_rating,publisher_id,publish_year,book_price,text_lang
0,838,296,1,13382,282,6,26,2001,107,7
1,2549,309,8,15932,427,3,34,2020,119,5
2,1414,12,4,9871,111,9,7,2007,29,7
3,2532,251,3,7674,134,1,19,2016,126,2
4,2270,382,10,16915,372,6,25,2007,54,7

In [78]:
df = df.sort_values(by=['book_id'], ascending = True)

In [79]:
df.head()

,book_id,author_id,book_genre,reader_id,num_pages,book_rating,publisher_id,publish_year,book_price,text_lang
35887,1,339,5,14495,242,1,18,2017,126,5
27863,1,316,10,18370,649,3,9,2009,32,6
29116,1,2,4,4193,367,1,43,2014,194,4
75028,1,183,9,27855,461,5,42,2020,8,3
34839,1,366,5,15226,577,7,9,2009,150,6

In [80]:
# normalizing the data to 0s and 1s
import numpy as np
'''
FORMULA
X(NORMALIZED) = (X - Xminimum)/(Xmaximum - Xminimum)

 min_val = min(data)
    if min_val < 0:
        data = [x + abs(min_val) for x in data]
    max_val = max(data)
    
    return [x/max_val for x in data]

'''
def normalize(data):    
    return (data - np.min(data)/ (np.max(data)- np.min(data)))

In [81]:
#performing one hot encoding
def encoding(df, column):
    new = pd.get_dummies(df[column])
    new.reset_index(drop = True, inplace = True)
    return pd.concat([df, new], axis = 1)

In [82]:
''' 
Creating a Conten based recommendation syatem as the base system

'''

class Recommender():
    def __init__(self,df):
        self.df = df
    
    def similarity(self, v1, v2):
        return np.sum(np.dot(v1,v2)/ np.cross(v1,v2)) 
    
    def recommend(self, book_id, rec):
        ip = self.df.loc[book_id].values
        self.df['sim'] = self.df.apply(lambda x: self.similarity(ip, x.values), axis =1)
        
        return self.df.nlargest(columns = 'sim', n = rec)

In [83]:
df['num_pages_norm'] = normalize(df['num_pages'].values)
df['book_rating_norm'] = normalize(df['book_rating'].values)
df['book_price_norm'] = normalize(df['book_price'].values)
df.head()

,book_id,author_id,book_genre,reader_id,num_pages,book_rating,publisher_id,publish_year,book_price,text_lang,num_pages_norm,book_rating_norm,book_price_norm
35887,1,339,5,14495,242,1,18,2017,126,5,241.88,0.888889,125.994975
27863,1,316,10,18370,649,3,9,2009,32,6,648.88,2.888889,31.994975
29116,1,2,4,4193,367,1,43,2014,194,4,366.88,0.888889,193.994975
75028,1,183,9,27855,461,5,42,2020,8,3,460.88,4.888889,7.994975
34839,1,366,5,15226,577,7,9,2009,150,6,576.88,6.888889,149.994975

In [84]:
encoding(df = df, column = 'publish_year')
encoding(df = df, column = 'book_genre')
encoding(df = df, column = 'text_lang')

#dropping redndant columns
cols = ['publish_year', 'book_genre', 'num_pages', 'book_rating', 'book_price', 'text_lang']
df = df.drop(columns = cols, inplace = True)

In [85]:
df.head()

AttributeError: 'NoneType' object has no attribute 'head'